<info class="tooltip">
<tip>DETECTORES<br>- Detecta unidades inimigas de grande porte nos planetas proximos<br>- <%= fleet.generic_unit.description %></tip>
<span style=font-weight:strong>
  <%= fleet.generic_unit.name %>
  <% if fleet.squad == @squad && !fleet.squad.ready?%>
    (<%= link_to 'detectar', sensor_generic_fleet_path(fleet, :KeepThis => "true", :TB_iframe => "true", :height => "400", :width => "360"), :class => "thickbox" %>)
  <% end %>
</span>
</info>
