<info class="tooltip">
<tip>DETECTOR<br>- Detecta unidades inimigas de grande porte nas proximidades<br>- <%= fleet.generic_unit.description %></tip>
<span style=font-weight:strong>
  <%= fleet.generic_unit.name %>
  <% if fleet.squad == @squad && !fleet.squad.ready?%>
   (<a href = "" onclick="window.open('/generic_fleets/<%= fleet.id %>/sensor', 'Sensor <%= fleet %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=385, height=400')">detectar</a>)

  <% end %>
</span>
</info>
