<info class="tooltip">
<tip>SOLDADOS<br>- Construção de fábricas / domínio terrestre<br>- <%= fleet.generic_unit.description %></tip>
<span style=font-weight:strong;background-color:#331100>
  <%= fleet.quantity %>
  <%= fleet.generic_unit.name %>
</span>
</info>
