<info class="tooltip">
<tip>TROOPERS<br>- Construção de fábricas e domínio terrestre</tip>
<span style=font-weight:strong;background-color:#331100>
  <%= fleet.quantity %>
  <%= fleet.generic_unit.name %>
</span>
</info>
