<info class="tooltip">
<tip>GUERREIRO<br>- Sabotagem de fábricas e capital ships, assassinato de oficiais e liderança de tropas<br>- <%= fleet.generic_unit.description %></tip>
<span style=font-weight:strong;outline:dotted;background-color:#331100>    
  <%= fleet.generic_unit.name %> 
  (<%= fleet.quantity %> vidas)
</span>
</info>

