<span style=font-weight:strong;outline:dotted>    
<%= fleet.generic_unit.name %> 
(<%= fleet.quantity %> vidas)
</span>
<span style=font-weight:bold><%= "indo para #{fleet.destination.name} " if fleet.moving?%></span>
