<info class="tooltip">
<tip>GUERREIRO<br>- espionagem /sabotagem / matar oficiais<br>- <%= fleet.generic_unit.description %></tip>
<span style=font-weight:strong;outline:dotted>    
  <%= fleet.generic_unit.name %> 
  (<%= fleet.quantity %> vidas)
</span>
</info>

