
  <% @planets.each do |planet| %>
  <div class="planet_content">
    <h2> <%= planet.name %> </h2>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:<%= fleet.squad.color %>>
      <% case fleet.generic_unit.type %>
      <% when 'Facility' %>   
         <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
      <% else %>   
         <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      </span>
      <br>
    <% end %>
  </div>
  <% end %>          

