
  <% @planets.each do |planet| %>
  <div class="planet_content">
    <h2> <%= planet.name %> </h2>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:<%= fleet.squad.color %>>
      <%= "#{fleet.quantity} #{fleet.generic_unit.name} "%> 
      <% if fleet.moving? %> 
         <span style=font-weight:bold><%= "moving to #{fleet.destination.name} "%></span>
      <% end %>
      </span>
      <br>
    <% end %>
  </div>
  <% end %>          

