
<div>
  <% @planets.each do |planet| %>
    <h2> <%= planet.name %> </h2>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <font color = "<%= fleet.squad.color %>">
      <%= "#{fleet.quantity} #{fleet.generic_unit.name} "%> 
      <% if fleet.moving? %> 
         <%= "moving to #{fleet.destination.name} "%>
      <% end %>
      </font>
      <br>
    <% end %>
  <% end %>          
</div>
