<div class="planet_content">
  <% @planets.each do |planet| %>
    <h2> <%= planet.name %> </h2>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:<%= fleet.squad.color %>>
      <% if fleet.class == FacilityFleet %> 
         <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
      <% else %>   
         <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      </span>
      <br>
    <% end %>
  <% end %>
</div>        

