a:link {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.8);
    border: 1px solid rgba(100, 120, 160, 0.60);
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: bold;
    height: 40px;
    line-height: 10px;
    margin-left: 2px;
    padding: 2px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}

body {
    background-image: url(/images/planet_background.jpg);
    background-attachment: fixed;
    background-color: black;
    color: white;
    font-size: 11px;
    line-height: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}

a:visited {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.8);
    border: 1px solid rgba(100, 120, 160, 0.60);
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: bold;
    height: 40px;
    line-height: 10px;
    margin-left: 2px;
    padding: 2px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}

a:hover {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.8);
    color: white;
    font-weight: bolder;
    font-size: 9px;
    text-decoration: none;
    border-color: rgba(180, 20, 20, 0.8);
    padding: 2px;
}

a:active {
    box-shadow: 0 0px 6px 1px rgba(180, 20, 20, 0.8) inset;
    position: relative;
    top: 2px;
}

div.squad_info:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60) ;
    background-color: rgba(17,10,10,0.5);
}
div.squad_info {
    border: 0 outset gray;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: -5px 1px 12px;
    padding: 5px 5px 8px 8px;
    width: 355px;
    background-color: rgba(17,10,10,0.5);
    transition: all ease-in-out 0.3s;
    z-index: -1;
}

div.planet_content {
    border: 0 outset gray;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: 10px 1px 12px;
    padding: 5px 5px 8px 8px;
    width: 355px;
    background-color: rgba(17,10,10,0.5);
    transition: all ease-in-out 0.36s;

}
div.planet_content:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60);
    background-color: rgba(17,10,10,0.5);
}

div.fleet {
    white-space: nowrap;
    border: 0 outset gray;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: 10px 1px 12px;
    padding: 5px 5px 8px 8px;
    width: 355px;
    background-color: rgba(17,10,10,0.5);
    transition: all ease-in-out 0.36s;
    z-index: 10;
}
div.fleet:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60);
    background-color: rgba(17,10,10,0.5);
    z-index:25; 
}

div.result_content {
    border: 0 outset gray;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: 10px 1px 12px;
    padding: 5px 5px 8px 8px;
    width: 590px;
    background-color: rgba(17,10,10,0.5);
    transition: all ease-in-out 0.36s;
}
div.result_content:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60);
    background-color: rgba(17,10,10,0.5);
}


h2 {
    background: -moz-linear-gradient(left center , #5E707D 10%, #000000) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(left , #5E707D 10%, #000000) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(left , #5E707D 10%, #000000) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(left , #5E707D 10%, #000000) repeat scroll 0 0 transparent;
    background: linear-gradient(left , #5E707D 10%, #000000) repeat scroll 0 0 transparent;
    border-bottom-left-radius: 4px;
    border-left: 8px solid #5E707D;
    border-top-left-radius: 4px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-shadow: 0 0 3px black, 0 0 3px black;
}

div.map
{
  border: 0 outset gray;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 1px 12px;
  padding: 5px 5px 8px 8px;
  width: 1005px;
  background-color: rgba(10,15,24,0.5);
  transition: all ease-in-out 0.3s;
  position:fixed;
  top: 0%;
  left: 380px;
}

div.map:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60);
    background-color: rgba(17,10,10,0.5);
}

info.tooltip{
  position:relative; 
  cursor:help; 
  }

  info.tooltip:hover{
  background:transparent;
  color:white;
  z-index:25; 

  }
  info.tooltip tip{display: none
  }

  info.tooltip:hover tip{ 
  display:block;
  position:absolute;
  width:250px;
  height:15px; 
  top:15px;
  left:30px;
  font-size: 10px;
  padding:5px;
  border:0px solid #999;
  background-color: white; 
  color:black;
  }
