a:link {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.8);
    border: 1px solid rgba(100, 120, 160, 0.60);
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 12px;
    margin-left: 2px;
    padding: 2px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}

body {
    background-attachment: fixed;
    background-color: black;
    background-image: url("/images/planet_background.jpg");
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}

a:hover {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.8);
    color: white;
    font-size: 11px;
    text-decoration: none;
    border-color: rgba(180, 20, 20, 0.8);
    padding: 2px;
}
a:active {
    box-shadow: 0 0px 6px 1px rgba(180, 20, 20, 0.8) inset;
    position: relative;
    top: 2px;
}


div.squad_info:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60) ;
    background-color: rgba(17,10,10,0.86);
}
div.squad_info {
    border: 0 outset gray;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: -20px 2px 12px;
    padding: 22px 5px 8px 8px;
    width: 395px;
    background-color: rgba(10,15,24,0.9);
    transition: all ease-in-out 0.3s;
}

div.planet_content {
    border: 0 outset gray;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(120,130,180,0.60) inset;
    margin: 10px -14px 10px;
    padding: 5px 5px 8px 24px;
    width: 395px;
    background-color: rgba(10,15,24,0.9);
    transition: all ease-in-out 0.36s;
}
div.planet_content:hover {
    box-shadow: 0 0 1px 1px rgba(160,90,90,0.80) inset, 0 0 4px rgba(160,60,60,0.60);
    background-color: rgba(13,14,22,0.9);
}

h2 {
    background: rgba(2,2,2, 0.31);
    border-radius: 23px/40px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-shadow: 0 0 3px black, 0 0 3px black;
    box-shadow: 0px -1px 4px -2px rgba(120,130,180,0.60) inset, 0px 15px 8px rgba(2,2,2, 0.81) inset;
    padding-left: 10px;
}
