<h2> Wargame 7 </h2>

<h3>Changelog:</h3>

- Inclusão do jogo Jedi Academy (JA)
- Os jogadores de BF2 e JA não precisam mais esperar os resultados dos jogos de XWA
- Possibilidade de nomear as Capital Ships
- Inclusão dos Heavy Transports para transporte de tropas e armas
- 
- Acesso à pagina de regras pelo menu principal
- Corrigidos bugs diversos

- Sistema totalmente reformulado
- Corrigido bugs diversos

