<h2> Wargame 8 </h2>
<a href="http://wgbrnavies.wordpress.com" target=_blank> Blog do WG (regras) </a> 
<a href = "" onclick="window.open('/users/sign_in', 'Login', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=500, height=650')">LOGIN NO SISTEMA</a>
<br><br>
Changelog (07/06/2013)<br><br>

Regras:<br>
- Novos oficiais. Império(Thrawn e Natasi Daala), Rebeldes(Garm Bel Iblis e Han Solo);<br>
- Oficiais só podem comandar de dentro de capital ships ou bases de defesa (ver tabela de unidades);<br>
- Bloqueio planetário com caças causa dano de 50% da produção em todas as fábricas;<br>
- Sabotagem com Jedi/Sith causa dano de 50% da produção apenas na fábrica alvo.
<br><br>
Changelog (20/05/2013):<br><br>

Novas Unidades:<br>
- Detectores: Comm Relay e Sensor Array. Estrutura que detecta unidades inimigas de grande porte nos planetas adjacentes;<br>
- Oficiais de frota: Almirante e Capitães. Permitem uso de AI mais elevado e outros bônus no XWA;<br>
<br>
Regras:<br>
- 3 wormholes randômicos para acesso direto entre planetas distantes;<br>
- Os defensores e atacante agora são randômicos;<br>
- O lucro planetário é dividido 50% fábricas e 50% troopers, em planetas sem inimigos presentes;<br>
- Estações CIMF, RES e BrR tornam-se 'Tradeports' para comércio de unidades;<br>
- Objetivos escolhidos pelo sistema (estilo WAR);<br>
- Novas missões Jedi/Sith: Sabotagem de Capital Ship (desabilita no XWA), Assassinato de Oficiais (Almirantes e Capitães)<br>
- Presença do Guerreiro Jedi/Sith possibilita uso de herói no BF2 (mesmo número de vidas);<br>
- Movimentação de fábricas e detectores. Transformam-se em comboios de transporte durante a fase de combates;<br>
- Sabotagem Jedi/Sith agora bloqueia 100% da produção de uma fábrica;<br>
- Captura de fábricas e detectores permitida apenas com naves de abordagem (CS ou Transportes);<br>
- Destruição de fábricas e detectores permitida apenas com caças armados com mísseis;<br> 
- No XWA o padrão será AI Ace. Os oficiais de frota permitem AI mais elevados;<br>
- Mísseis e contra-medidas mais baratos.<br>
- Pequenos ajustes de preços (10%) p/ light transports.<br>
<br>
Sistema: <br>
- Mapa maior e com muito mais informações;<br>
- Acesso aos objetivos no painel de controle principal;<br>
- Visão geral (quantidades) da frota no painel principal;<br>
- Funções "Últimas batalhas e Fog of War": relatórios de batalhas e espionagens;<br>
- Escolha de produção secundária nas fábricas (30% do total), ideal para pequenas unidades;<br>
- Escolha do Home Planet e URL do fórum secreto no cadastro do esquadrão;<br>
- Melhor ordenação das naves e tropas, facilitando a visualização;<br>
- Acesso a todas as funções através de popups.<br>
<br>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1000" height="705" id="FlashID">
  <param name="movie" value="/images/mapa.swf" />
  <param name="quality" value="high" />

  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/images/mapa.swf" width="1000" height="705">
    <!--<![endif]-->
    <param name="quality" value="high" />

    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
    </div>

    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
<br>
Este mapa não mostra as frotas. Se você está vendo, o sistema deve estar aberto em cache.<br>
