<h2> Wargame 8 </h2>
<a href="http://wgbrnavies.wordpress.com" target=_blank> Blog do WG (regras)</a>  
<a href = "" onclick="window.open('/users/sign_in', 'Login', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=455, height=280')">LOGIN NO SISTEMA</a>  
<a href = "" onclick="window.open('/images/mapa.swf', 'Mapa Publico', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=1024, height=720')">Mapa Público</a>
<br><br>
Changelog (29/06/2013)<br><br>
- Movimentação de unidades com um único clique;<br>
- Tradeports: A partir do Turno 4 as estações RES, CIMF e BRR se tornarão territórios ocupáveis (Mapa Tantive IV no BF2). Durante a fase de estratégia,<br>
 um tradeport itinerante aparecerá, aleatoriamente, em apenas um dos planetas dos esquadrões, negociando compra e venda de unidades com até 50% <br>
 de vantagem. Na fase de combates, os tradeports se retiram e os esquadrões podem combater normalmente;<br>
- Melhorias no mapa: Um sinal visual amarelo identificando wormholes(WH) e tradeports(TP).<br>
<br>
Changelog (27/06/2013)<br><br>
- Diminuição da quantidade de links para as funções de comando do jogo;<br>
- Alteração na regra para o uso de heróis no BF2: Diminuir ao máximo o tempo de respawn do herói;<br>
- Transportes agora podem carregar e descarregar troopers e armamentos.<br>
- Nova função de carregar e descarregar armas em caças e transportes.<br>
<br>
Changelog (26/06/2013)<br><br>
- A missão "Assassinato de Oficiais" torna-se "Neutralizar Oficiais". O Oficial neutralizado participa da batalha, mas sem bônus de AI;<br>
- Lista de unidades e movimento de frotas unificadas na mesma tela. Basta clicar no planeta;<br>
- Capital Ships podem carregar e descarregar unidades, facilitando a movimentação em grupo.<br>
<br>
Changelog (14/06/2013)<br><br>
- Novas funções dos Detectores. Agora eles detectam, além de CS e Fábricas, outras unidades como caças e transportes (sem mostrar as quantidades);<br>
- Os guerreiros Jedi/Sith regeneram 1 vida ao final do turno em planetas sem troopers inimigos;<br>
- Durante a fase de estratégia/movimentos, não é mais mostrada as unidades inimigas no mesmo planeta. Usar a nova função "Inteligência";<br>
- Fog of War renomeado para Inteligência, mostra as ultimas frotas vistas pelo esquadrão.<br>
<br>
Changelog (12/06/2013)<br><br>
- Os Jedi/Sith continuam com 2 missões passivas (espionagem e bloqueio de créditos);<br>
- Os Jedi/Sith passam a ter 4 missões de ataque (sabotagem de CS, sabotagem de fábricas, assassinato de oficiais e liderança de tropas no BF2);<br>
- Deve ser escolhida apenas uma missão de ataque. Exceto a de liderança de tropas, que pode ser feita antes ou depois do jogo de JA, com as vidas disponíveis;<br>
- Retirada barra lateral com frotas;<br>
- Todas as funções do sistema podem ser acessadas direto do mapa, com popups;<br>
- Aprimoradas validações diversas.<br
><br>
Changelog (07/06/2013)<br><br>
- Novos oficiais. Império(Thrawn e Natasi Daala), Rebeldes(Garm Bel Iblis e Han Solo);<br>
- Oficiais só podem comandar de dentro de capital ships ou bases de defesa (ver tabela de unidades);<br>
- Bloqueio planetário com caças causa dano de 50% da produção em todas as fábricas;<br>
- Sabotagem com Jedi/Sith causa dano de 50% da produção apenas na fábrica alvo;<br>
- Não é mais obrigatório jogar JA primeiro. A ordem seguirá a decisão dos estrategistas.<br>
<br>
Changelog (20/05/2013):<br><br>
- Detectores: Comm Relay e Sensor Array. Estrutura que detecta unidades inimigas de grande porte nos planetas adjacentes;<br>
- Oficiais de frota: Almirante e Capitães. Permitem uso de AI mais elevado e outros bônus no XWA;<br>
- 3 wormholes randômicos para acesso direto entre planetas distantes;<br>
- Os defensores e atacante agora são randômicos;<br>
- O lucro planetário é dividido 50% fábricas e 50% troopers, em planetas sem inimigos presentes;<br>
- Estações CIMF, RES e BrR tornam-se 'Tradeports' para comércio de unidades;<br>
- Objetivos escolhidos pelo sistema (estilo WAR);<br>
- Novas missões Jedi/Sith: Sabotagem de Capital Ship (desabilita no XWA), Assassinato de Oficiais (Almirantes e Capitães)<br>
- Presença do Guerreiro Jedi/Sith possibilita uso de herói no BF2 (mesmo número de vidas);<br>
- Movimentação de fábricas e detectores. Transformam-se em comboios de transporte durante a fase de combates;<br>
- Sabotagem Jedi/Sith agora bloqueia 100% da produção de uma fábrica;<br>
- Captura de fábricas e detectores permitida apenas com naves de abordagem (CS ou Transportes);<br>
- Destruição de fábricas e detectores permitida apenas com caças armados com mísseis;<br> 
- No XWA o padrão será AI Ace. Os oficiais de frota permitem AI mais elevados;<br>
- Mísseis e contra-medidas mais baratos.<br>
- Pequenos ajustes de preços (10%) p/ light transports.<br>
- Mapa maior e com muito mais informações;<br>
- Acesso aos objetivos no painel de controle principal;<br>
- Visão geral (quantidades) da frota no painel principal;<br>
- Funções "Últimas batalhas e Fog of War": relatórios de batalhas e espionagens;<br>
- Escolha de produção secundária nas fábricas (30% do total), ideal para pequenas unidades;<br>
- Escolha do Home Planet e URL do fórum secreto no cadastro do esquadrão;<br>
- Melhor ordenação das naves e tropas, facilitando a visualização;<br>
- Acesso a todas as funções através de popups.<br>
<br>

