<h2> Wargame 7 </h2>

<h3>Changelog:</h3>

Nas regras:<br>
- Inclusão do jogo Jedi Academy (JA) com 2 guerreiros por esquadrão.<br>
- Os jogadores de BF2 e JA não precisam mais esperar os resultados dos jogos de XWA<br>
- Inclusão dos Heavy Transports para transporte de tropas e armas<br>
- É possível aprimorar (upgrade) gradativamente fábricas já construídas.<br>
- Inclusão de 2 wormholes randômicos para acesso direto entre planetas distantes<br>
- A ordem de fuga é planeta aliado, planeta neutro e, se não houver disponível, planeta inimigo.<br>
- Definição de ordem e prazo para jogos.<br>
- Nova missão para os guerreiros: Sabotagem. Ela derruba a fábrica em 50% durante 1 turno (NOVO)<br>
- Regra para construção de fábricas: São feitas exclusivamente por troopers em planetas sem inimigos.(NOVO)<br>
- Regra para ganho de lucros: O lucro é divido 50% para fábricas e 50% para troopers. (NOVO)<br>
- Os dominios (pintar o planeta) só aparecem em planetas com fábricas. (NOVO)<br>
<br>
No sistema: <br>
- Acesso à pagina de regras e tabela de naves pelo menu principal<br>
- Possibilidade de nomear as Capital Ships<br>
- Melhor ordenação das naves e tropas facilitando a visualização<br>
- Implantada movimentação de frotas por uma única tela<br>
- O sistema agora informa quem é o defensor do planeta<br>
- Clicando em "Pronto" não é mais possivel alterar a estratégia<br>
- Sistema avisa os esquadrões que ja estão prontos<br>
- Melhorias visuais diversas<br>
- Corrigidos bugs diversos<br>
- Incluida opção "sabotagem" nas fábricas na página de resultados (NOVO) <br>
<br>Atenção: Evite clicar muitas vezes para efetivar uma ação, espere o sistema processar os dados.<br>
<br>
<a href="http://wgbrnavies.wordpress.com" target=_blank> Blog do Wargame (regras) </a> <a href="http://brnavies.dyndns.org/users/sign_in"> Entrar no Sistema </a><br><br>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1080" height="768" id="FlashID" title="Map 6.0">
  <param name="movie" value="http://brnavies.dyndns.org/mapa.swf" />
  <param name="quality" value="high" />

  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="http://brnavies.dyndns.org/mapa.swf" width="1080" height="768">
    <!--<![endif]-->
    <param name="quality" value="high" />

    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>Este mapa não mostra as frotas. Se você está vendo, o sistema deve estar aberto em cache.<br>
