<div class="planet_content">
<h2> Transferir Créditos </h2>
<%= simple_form_for :transfer, :url => url_for(:controller => 'squads', :action => 'transfer_credits')  do |f| %>
  <%= f.input :credits, :label => 'Créditos: ', :input_html => { :size => 4 } %>
  <%= f.input :squad, :collection => @squads, :label => 'Para: ' %>
  <%= f.submit 'Transferir' %>
<% end %>
</div>
